* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: var(--text-md);
  color: var(--text-color-secondary);
  background-color: var(--background-color);
}
a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--brand-color);
  transition: color 0.2s ease;
}

.container {
  padding-inline: 2rem;
  max-width: 1280px;
  margin-inline: auto;
}

.bg-sufarce-color {
  background-color: var(--surface-color);
}

#info {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
