body {
  color: var(--text-color-secondary);
  background-color: var(--background-color);
}

h1 {
  font: var(--text-lg);
}

p {
  font: var(--text-md);
}

/* .paragraph-md {

}

.paragraph-sm {
 
} */
