/* .title {
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
  font-size: var(--title-font-size);
  line-height: var(--title-line-height);
}

.text-regular {
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  font-size: var(--paragraph-regular-font-size);
  line-height: var(--paragraph-regular-line-height);
}

.paragraph-md {
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  font-size: var(--paragraph-primary-font-size);
  line-height: var(--paragraph-primary-line-height);
}

.paragraph-sm {
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  font-size: var(--paragraph-secondary-font-size);
} */